[Desktop Entry]
Version=1.0
Type=Application
Name=SUbillManager
Comment=A simple Bill Manager
Exec=su_bill_manager
Icon=subillmanager
Categories=Office;Finance;
