[Desktop Entry]
Version=1.0
Type=Application
Name=SUbillManager
Comment=A simple Bill Manager
Exec=subillmanager
Icon=subillmanager
Terminal=false
StartupWMClass=subillmanager
StartupNotify=false
Categories=Office;Finance;
