[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=SUbillManager
Comment=A simple Bill Manager
Exec=su_bill_manager %u
Icon=subillmanager
Categories=Office;Finance;
